@require '../../core'

search-location
  flex 1
  display flex
  flex-direction column
  align-items center
  padding-top 14rem

  results
    display block
    width 100%
    min-width 24rem
    max-width 29rem
    margin 1rem
    font-size 1.8rem
    line-height 3rem
    border-radius .7rem
    border 0
    background #fff
    font-family 'Nunito Sans', Sans-Serif

  search-result
    padding .5rem 0
    padding-right 1.8rem

    &.hide + .suggestions
      search-result
        border-top 0


    .name
      padding-top .8rem

  .suggestions
    search-result
      // border-top 1px solid rgb(222, 222, 222)
