<search-location>
  <back-action></back-action>
  <input type="text" name="location" autocomplete="off" autocapitalize="off" autocorrect="off" autofocus="autofocus" placeholder="Find a location"/>
  <results>
    <search-result></search-result>
    <div class="suggestions"></div>
  </results>
</search-location>