@require '../../core';

spinner
  display block
  width 7.2rem
  height 7.2rem
  padding 1rem
  display none
  positon relative

  &:before
    content ''
    display block
    border-radius 50%
    background-color #fff
    width 7.2rem
    height 7.2rem
    position absolute
    top 0
    left 0

  &.show
    display block

  svg
    animation 1s linear infinite both spin

  circle
    fill transparent
    stroke green
    stroke-dasharray 285
    stroke-dashoffset 225
    stroke-linecap round
    stroke-width .6rem
    transform-origin 50% 50%