@require '../../core'

error
  display none
  font-size 2.8rem
  width 7.2rem
  height 7.2rem

  button
    padding 0
    margin 0
    background-color red
    border-color red
    width 7.2rem
    height 7.2rem

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color red
      border-color red

  &.show
    display block