@require '../../core';

auth
  flex 1
  display flex
  flex-direction column
  align-items center
  justify-content center

  form
    display flex
    flex-direction column
    align-items center
    justify-content center

  h1
    font-size 2.4rem

  a
    padding 1.4rem 1.6rem
    font-size 2rem
    line-height 3rem

  &[route=sign-in]
    input[name='confirmPassword']
    a[value=sign-in]
      display none

  &[route=sign-up]
    a[value=password-reset]
    a[value=sign-up]
      display none

  &[route=password-reset]
    a
    input[type=password]
      display none


  &[route=reset]
    a
    input[name='email']
      display none

  button
    position relative

  spinner
    position absolute
    right 0

.hide
  opacity 0