<auth>
  <form novalidate="novalidate">
    <h1></h1>
    <input type="email" name="email" autocapitalize="off" autocorrect="off" autofocus="autofocus" placeholder="Email"/>
    <input type="password" name="password" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus" placeholder="Password"/>
    <input type="password" name="confirmPassword" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus" placeholder="Confirm password"/>
    <div class="form-actions">
      <button type="submit" disabled="disabled">
        <span class="button-text"></span>
      </button>
    </div>
  </form>
  <route-link value="sign-in">Sign in</route-link>
  <route-link value="sign-up">Sign up</route-link>
  <route-link value="password-reset">Help</route-link>
</auth>