@require '../../core'

logo
  display block

  button
    width 7rem
    height 7rem
    padding 0
    margin 0
    background-color #fff
    border-color #fff
    border-radius 50%
    background-position center
    background-size cover
    background-color #fff

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color #fff
      border-color #fff

    &[style]
      border-color transparent
      border 0

      &:active:not([disabled])
      &:hover:not([disabled])
        border-color transparent

      icon
        display none

  icon
    width 7rem
    height 7rem
    stroke green
    stroke-width .4rem
    stroke-linecap round
    fill transparent