datetime
  display flex
  align-items center
  position relative
  min-width 24rem
  max-width 29rem
  margin 1rem
  font-size 1.8rem
  line-height 3rem
  padding 1.3rem 3.8rem 1.3rem 1.8rem
  border-radius .7rem
  background: #fff

  separator
    display block
    text-align center
    width 10rem

  error
    position absolute
    display block
    top 50%
    right 1rem
    transform translateY(-50%)
    width 2rem
    height 2rem
    visibility hidden

    &.show
      visibility visible

    button
      width 2rem
      height 2rem
      font-size 1.2rem

  input
    margin 0
    padding 0
    border 0
    width auto
    min-width 3rem
    border-radius 0
    text-align center
    text-transform uppercase

    &:focus::-webkit-input-placeholder
      color transparent

    &::-webkit-inner-spin-button
      -webkit-appearance none
      -moz-appearance none
      appearance none
