<datetime>
  <input name="month" autocomplete="off" autocapitalize="off" autocorrect="off" autofocus="autofocus" type="number" inputmode="numeric" pattern="[0-9]*"></input>
  <separator>/</separator>
  <input name="day" autocomplete="off" autocapitalize="off" autocorrect="off" type="number" inputmode="numeric" pattern="[0-9]*"></input>
  <separator>/</separator>
  <input name="year" autocomplete="off" autocapitalize="off" autocorrect="off" type="number" inputmode="numeric" pattern="[0-9]*"></input>
  <separator> </separator>
  <input name="hour" autocomplete="off" autocapitalize="off" autocorrect="off" type="number" inputmode="numeric" pattern="[0-9]*"></input>
  <separator>:</separator>
  <input name="minute" autocomplete="off" autocapitalize="off" autocorrect="off" type="number" inputmode="numeric" pattern="[0-9]*"></input>
  <input name="dd" autocomplete="off" autocapitalize="off" autocorrect="off" type="text"></input>
  <error></error>
</datetime>