@require '../../core'

search
  flex 1
  display flex
  flex-direction column
  align-items center
  justify-content center

  form
    display flex
    flex-direction column
    align-items center
    justify-content center

  input[name=location]
    cursor pointer

  .statuses
    margin 1rem 0

    .status
      overflow hidden

    .status:not(:last-child)
      // border-bottom 1px solid rgb(222, 222, 222)

    .status:first-child
      label
        border-top-left-radius .7rem
        border-top-right-radius .7rem

    .status:last-child
      label
        border-bottom-left-radius .7rem
        border-bottom-right-radius .7rem

    label
      display flex
      align-items center
      width 29rem
      font-size 1.8rem
      line-height 3rem
      padding 1.3rem 1.8rem
      border 0
      background #fff
      font-family 'Nunito Sans', Sans-Serif
      position relative
      cursor pointer

    [type="radio"]:checked,
    [type="radio"]:not(:checked)
      position absolute
      left -9999px

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before
      content ''
      // position absolute
      // left 0
      // top 0
      width 1.8rem
      height 1.8rem
      border .2rem solid #ddd
      border-radius 100%
      background #fff
      margin-right 2rem

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after
      content ''
      width 1.2rem
      height 1.2rem
      background green
      position absolute
      top 50%
      left 2.3rem
      -webkit-transform translateY(-50%)
      transform translateY(-50%)
      border-radius 100%

    [type="radio"]:not(:checked) + label:after
      opacity 0

    [type="radio"]:checked + label:after
      opacity 1

