<search>
  <form novalidate="novalidate">
    <input type="text" name="location" autocapitalize="off" autocorrect="off" placeholder="Location" readonly/>
    <div class="statuses">
      <div class="status">
        <input type="radio" id="complete" name="status">
        <label for="complete">Completed</label>
      </div>
      <div class="status">
        <input type="radio" id="pending" name="status">
        <label for="pending">Upcoming</label>
      </div>
      <div class="status">
        <input type="radio" id="active" name="status">
        <label for="active">Active</label>
      </div>
    </div>
    <button type="submit">Search</button>
    <button type="button" class="inverse">Cancel</button>
  </form>
</search>