@require '../../core'

geo
  display none
  position relative
  flex 1 0 auto
  visibility hidden

  &.active
    display block

  &.show
    visibility visible

  list-action
    position absolute
    bottom 4rem
    left 2rem
    z-index 2

    @media screen and (min-width: 800px)
      display none

  navigate-action
    position absolute
    bottom 13rem
    right 2rem
    z-index 2

pin-action
  icon
    fill green

.user-marker
  width 3rem
  height 3rem
  position relative

  &:before
  &:after
    content ''
    position absolute
    display block
    left 0
    top 0
    width 3rem
    height 3rem
    border-radius 50%
    box-sizing border-box

  &:before
    animation 2000ms linear infinite both scale
    background-color lightGreen
    opacity 0.75

  &:after
    background-color green
    border .4rem solid #fff