@require '../../core'

cleanup-image
  display flex
  flex-direction column
  background-color #fff
  border-radius 1.8rem
  overflow hidden

  .image-crop
    position relative
    padding-top 100%

  img
    width 100%
    height 100%
    object-fit cover
    position absolute
    top 0

  button
    margin 0

  .image-actions
    display flex
    justify-content flex-end
    padding 2rem