@require '../../core'

navigate-action
  display none

  button
    padding 0
    margin 0
    background-color #fff
    border-color #fff

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color #fff
      border-color #fff

  icon
    width 7rem
    height 7rem

  &.show
    display block