@require '../../core'

image-action
  display block

  button
    padding 0
    margin 0
    background-color #fff
    border-color #fff

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color #fff
      border-color #fff

  icon
    width 7rem
    height 7rem