@require '../../core'

panel
  display block
  position absolute
  width 100vw
  height 100%
  background-color softSand
  left 0
  top 0
  transform translateX(100%)
  z-index 3

  @media screen and (min-width: 800px)
    transform translateX(0)
    position relative
    width 42rem

  &.show
    transform translateX(0)

    map-action
      display block

      @media screen and (min-width: 800px)
        display none
