@require '../../core'

button
  display flex
  justify-content center
  align-items center
  // width 100%
  min-width auto
  max-width 27.5rem
  padding 1.5rem 4.2rem
  border-radius 4rem
  border .2rem solid green
  background green
  color #fff
  font-size 2.6rem
  font-family 'Nunito Sans',  Sans-Serif
  font-weight 700
  margin 1rem
  transition background-color 150ms, border-color 150ms, color 150ms

  &[disabled]
    border-color #D3D3D3
    background-color #D3D3D3
    color #8D8D8D

  &:not([disabled])
    cursor pointer

  &.inverse
    background transparent
    color green

  &.tiny
    padding 1rem 2.6rem
    border-radius 3rem
    border .2rem solid green
    font-size 1.8rem

  &:active:not([disabled])
  &:hover:not([disabled])
    background-color lightGreen
    border-color lightGreen
    color #fff
