@require '../../core'

back-action
  display block
  position fixed
  top 4rem
  left 2rem
  z-index 3

  button
    padding 0
    margin 0
    background-color #fff
    border-color #fff

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color #fff
      border-color #fff

  icon
    width 7rem
    height 7rem
    stroke rgb(152, 152, 152)
    stroke-width .4rem
    stroke-linecap round
    fill transparent