extends ../lib/extends/html.pug

block head
  meta(charset='utf-8')
  //- meta(http-equiv='Content-Security-Policy' content="default-src * blob: data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src *; media-src *; img-src *;")
  meta(name='format-detection' content='telephone=no')
  meta(name='msapplication-tap-highlight' content='no')
  meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover')
  meta(name='apple-mobile-web-app-status-bar-style' content='default')
  title Malama
  link(rel='manifest' href=url + '/manifest.json')
  link(rel='apple-touch-icon' sizes='192x192' href=url + '/icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href=url +'/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href=url +'/favicon-16x16.png')
  link(rel='stylesheet' type='text/css' href=url + '/index.css')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet')
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js')
block body
  svg(xmlns='http://www.w3.org/2000/svg' width='0' height='0' display='none')
    each data, name in icons
      symbol(id='icon-' + name viewbox='0 0  100 100') !{data}
  root
  script(type='text/javascript' defer src=url + '/index.js')