@require '../../core'

input
textarea
  display block
  // min-width 24rem
  width 29rem //was min, sign in isnt cure anymore : (
  margin 1rem
  font-size 1.8rem
  line-height 3rem
  padding 1.3rem 1.8rem
  border-radius .7rem
  border 0
  background #fff
  // transition box-shadow 100ms
  font-family 'Nunito Sans', Sans-Serif
  resize none

  &::placeholder
    color #949494

  &:focus
   // box-shadow 0 0 0 0.2rem lightGreen