@require '../../core'

images
  display flex
  justify-content center
  align-items stretch
  width 100vw
  height 100%
  position absolute
  top 0
  left 0
  display none
  z-index 4
  background-color softSand
  overflow-y scroll
  -webkit-overflow-scrolling touch

  &.hide-actions
    add-action
    .image-actions
      display none

    .pending
      pointer-events none
      touch-action none

  .pending
    padding 13rem 3rem
    width 100vw

    @media screen and (min-width: 800px)
      width 54rem

  cleanup-image
    margin-bottom 3rem

  add-action
    position fixed
    bottom 4rem
    right 2rem
    z-index 3

  input
    display none

  &.show
    display flex