* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  -webkit-appearance: none;
}
a:focus,
a:active {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
html {
  height: 100%;
  font-size: 0.625em;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Nunito Sans', Sans-Serif;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  min-width: 220px;
  padding: 1rem;
  border: .2rem solid #F8F6F8;
  border-radius: 1.8rem;
  font-size: 1.2rem;
}
.card-details{
  padding: .5rem;
}
.user-details{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.user-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cleanup-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.cleanup-image{
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  border-radius: .7rem;
  overflow: hidden;
  position: relative;
}
.user-pic{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
}
.image-count{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #000;
  color: #fff;
  padding: .5rem .7rem;
  border-radius: .7rem;
}
a {
  text-decoration: none;
  color: #3ecb66;
  display: block;
}
a:active,
a:focus,
a:visited {
  color: #3ecb66;
}
svg {
  width: 100%;
  height: 100%;
}
.logo-link{
  align-self: flex-end;
  margin-bottom: 1rem;
}
.logo{
  display: flex;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  stroke: #3ECB66;
  stroke-width: .4rem;
  stroke-linecap: round;
  fill: transparent;
}
.pin{
  display: flex;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  fill: rgb(152, 152, 152);
}
.pin-link{
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .card{
    font-size: 1.6rem;
  }
}
