@require '../../core'

cleanup-edit
  flex 1
  display flex
  flex-direction column
  align-items center
  justify-content center

  form
    display flex
    flex-direction column
    align-items center
    justify-content center

  input[name=location]
    cursor pointer

  .is-complete
    display none

    &.show
      display block

    label
      display flex
      align-items center
      width 29rem
      background-color #fff
      border-radius .7rem
      margin 1rem
      font-size 1.8rem
      line-height 3rem
      padding 1.3rem 1.8rem
      border 0
      font-family 'Nunito Sans', Sans-Serif
      position relative
      cursor pointer

    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked)
      position absolute
      left -9999px

    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before
      content ''
      width 2rem
      height 2rem
      border .2rem solid #ddd
      border-radius .5rem
      background #fff
      margin-right 2rem

    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after
      content ''
      width 1.2rem
      height .5rem
      border-left: .2rem solid green;
      border-bottom: .2rem solid green;
      top 50%
      transform translateY(-50%) rotate(-45deg)
      position absolute
      left 2.3rem

    [type="checkbox"]:not(:checked) + label:after
      opacity 0

    [type="checkbox"]:checked + label:after
      opacity 1

    // [type="checkbox"]:focus + label::before
    //   outline: green auto .2rem

  cleanup-picture
    display flex
    justify-content center
    align-items center
    position relative
    width 29rem
    height 29rem
    border-radius .7rem
    overflow hidden
    margin-bottom 1rem
    background-position center
    background-size cover

    // @media screen and (min-width: 800px)
    //   width 40rem
    //   height 40rem

    picture-count
      display none
      position absolute
      bottom 1rem
      right 1rem
      background-color #000
      color #fff
      padding .5rem .7rem
      border-radius .7rem

      &[data-count]
        display flex

        &:before
          content attr(data-count)
          display block

    image-action
      width 100%
      height 100%
      position absolute

      button
        max-width 100%
        width 100%
        height 100%
        border-radius .7rem

    img
      width 100%
      height 100%
      object-fit cover

    img[src='']
      display none

    img:not([src=''])
      & + image-action
        opacity 0