<cleanup-edit>
  <cleanup-picture>
    <img src="" />
    <image-action></image-action>
    <picture-count></picture-count>
  </cleanup-picture>
  <form novalidate="novalidate">
    <datetime></datetime>
    <input type="text" name="location" autocapitalize="off" autocorrect="off" placeholder="Location" readonly/>
    <div class="is-complete">
      <input type="checkbox" id="isComplete" name="complete">
      <label for="isComplete">Complete</label>
    </div>
    <button type="submit">Save</button>
    <button type="button" class="inverse">Cancel</button>
  </form>
</cleanup-edit>