@require '../../core'

list-item
  display block
  background #fff
  border-radius 1.8rem
  overflow hidden
  cursor pointer

  .images
    display flex
    justify-content center
    align-items center
    background-color #fbfafb
    position relative
    // border-top-left-radius 1.8rem
    // border-top-right-radius 1.8rem

    icon
      width 100%
      padding-top 100%
      position relative

      svg
        width 10rem
        height 10rem
        position absolute
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%)

    img
      width 100%
      height 100%
      object-fit cover

    img[src='']
      display none

    img:not([src=''])
      & + icon
        display none

  .details
    padding 2rem