@require '../../core'

list
  display block
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch
  padding 13rem 3rem

  list-item:not(:last-child)
    margin-bottom 3rem

  .no-results
    text-align center