root
  display flex
  flex-direction column
  justify-content space-around
  // align-items center
  align-content center
  height 100%
  overflow hidden
  position relative

  @media screen and (min-width: 800px)
    flex-direction row
    align-items stretch

  spinner
  error
  action
    position fixed
    bottom 4rem
    right 2rem
    z-index 3

  spinner
    z-index 4

  logo
    position fixed
    top 4rem
    left 2rem
    z-index 3

  search-action
    position fixed
    top 4rem
    right 2rem
    z-index 3