<root>
  <auth></auth>
  <profile></profile>
  <panel></panel>
  <geo></geo>
  <cleanup-edit></cleanup-edit>
  <cleanup-view></cleanup-view>
  <search-location></search-location>
  <search></search>
  <logo></logo>
  <search-action></search-action>
  <images></images>
  <action></action>
  <spinner></spinner>
  <error></error>
  <modal></modal>
</root>