@require '../../core'

list-action
  display block

  button
    padding 0
    margin 0
    background-color #fff
    border-color #fff

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color #fff
      border-color #fff

  icon
    width 7rem
    height 7rem
    stroke rgb(152, 152, 152)
    stroke-width .4rem
    stroke-linecap round