modal
  display flex
  justify-content center
  align-items stretch
  width 100vw
  height 100%
  position fixed
  background rgba(255, 255, 255, 0.33)
  top 0
  left 0
  display none
  z-index 3

  &.show
    display flex

  modal-inner
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex 1
    background #fff

  modal-content
    font-size 1.8rem
    padding 2rem
    text-align center