@require '../../core'

pin-action
  display block

  button
    padding 0
    margin 0
    background-color transparent
    border-color transparent

    &:active:not([disabled])
    &:hover:not([disabled])
      background-color transparent
      border-color transparent

  icon
    width 7rem
    height 7rem