@keyframes spin
  0%
    -webkit-transform rotate(-90deg)
    transform rotate(-90deg)
  100%
    -webkit-transform rotate(270deg)
    transform rotate(270deg)

@keyframes scale
  50%
    -webkit-transform scale(1)
    transform scale(1)
    opacity 0.75
  100%
    -webkit-transform scale(2)
    transform scale(2)
    opacity 0