@import './color'

*
  box-sizing border-box
  -webkit-tap-highlight-color rgba(0,0,0,0)

input
textarea
button
select
label
a
  -webkit-appearance none

  &:focus,
  &:active
    outline none

::-webkit-scrollbar
  display none

input:-webkit-autofill,
input:-webkit-autofill:hover
input:-webkit-autofill:focus
textarea:-webkit-autofill
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus
  border 0
  -webkit-text-fill-color inherit
  -webkit-box-shadow 0 0 0px 1000px #ffffff inset !important
  background-color transparent
  font-family 'Nunito Sans', Sans-Serif !important
  font-weight 400

html
  height 100%
  font-size .625em // base 10

body
  -webkit-touch-callout none    // prevent callout to copy image, etc when tap to hold
  -webkit-text-size-adjust none // prevent webkit from resizing text to fit
  -webkit-user-select none      // prevent copy paste, to allow, change 'none' to 'text'
  user-select none
  margin 0
  font-size 1.6rem
  font-family 'Nunito Sans', Sans-Serif
  background-color softSand
  height 100%
  overflow hidden