@require '../../core'

cleanup-view
  width 100vw
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch
  display flex
  flex-direction column
  align-items center
  background #fff

  @media screen and (min-width: 800px)
    background transparent

  .card
    padding 13rem 3rem
    background #fff
    width 100%
    max-width 54rem

    @media screen and (min-width: 800px)
      border-radius 1.8rem
      margin 4rem
      padding 0

  .header
    display flex
    justify-content space-between
    align-items center
    padding 2rem
    font-size 1.8rem
    flex 1 0 auto

  .body
    padding-bottom 3rem
    flex 1 0 auto

    h3
    .participants
      margin-left 3rem

    button
      justify-content flex-start
      border 0
      background transparent
      color #000
      font-weight 400
      font-size 1.8rem
      border-radius 0
      width 100%
      max-width 100%
      margin 0
      color green
      padding 0
      padding-left 2rem

      &:active:not([disabled])
      &:hover:not([disabled])
        background-color #fff
        border-color #fff
        color green

      icon
        width 7rem
        height 7rem

  .user
    display flex
    justify-content space-between
    align-items center

    .user-pic
      width 7rem
      height 7rem
      border-radius 50%
      background-color softSand
      background-size cover
      background-position center
      margin-right 2rem

  .images
    display flex
    justify-content center
    align-items center
    border-radius 1.8rem
    overflow hidden
    background-color #fbfafb
    position relative
    flex 1 0 auto

    picture-count
      display none
      position absolute
      bottom 1rem
      right 1rem
      background-color #000
      color #fff
      padding .5rem .7rem
      border-radius .7rem

      &[data-count]
        display flex

        &:before
          content attr(data-count)
          display block

    @media screen and (min-width: 800px)
      border-bottom-left-radius 0
      border-bottom-right-radius 0

    image-action
      width 100%
      padding-top 100%
      position relative

      button
        border-radius 0
        background-color transparent
        pointer-events none
        border 0
        position absolute
        max-width 100%
        width 100%
        height 100%
        top 0

    img
      width 100%
      height 100%
      object-fit cover

    img[src='']
      display none

    img:not([src=''])
      & + image-action
        opacity 0
        position absolute

        button
          pointer-events initial