<cleanup-view>
  <back-action></back-action>
  <div class="card">
    <div class="images">
      <img src="" />
      <image-action></image-action>
      <picture-count></picture-count>
    </div>
    <div class="header">
      <div class="user">
        <div class="user-pic"></div>
        <div class="user-name"></div>
      </div>
      <div class="datetime"></div>
    </div>
    <div class="body">
      <h3>Participants</h3>
      <div class="participants"></div>
      <h3>Location</h3>
      <button type="button" class="show-on-map">
        <icon name="pin"></icon>
        Find on map
      </button>
      <button type="button" class="get-directions">
        <icon name="navigate"></icon>
        Get directions
      </button>
      <button type="button" class="share">
        <icon name="share"></icon>
        Share
      </button>
    </div>
  </div>
</cleanup-view>