@require '../../core'

profile
  flex 1
  display flex
  flex-direction column
  align-items center
  justify-content center

  form
    display flex
    flex-direction column
    align-items center
    justify-content center

  profile-picture
    display flex
    justify-content center
    align-items center
    position relative
    width 29rem
    height 29rem
    border-radius 50%
    overflow hidden
    margin-bottom 1rem
    background-position center
    background-size cover
    background-color #fff

    &[style]
      image-action
        display none

    input[type=file]
      margin 0
      padding 0
      position absolute
      border-radius 0
      top 0
      left 0
      right 0
      bottom 0
      width 100%
      min-width 0
      opacity 0
      z-index 3
      cursor pointer

  icon
    width 7rem
    height 7rem

  a
    padding 1.4rem 1.6rem
    font-size 2rem
    line-height 3rem