<profile>
  <profile-picture>
    <image-action></image-action>
    <input type="file" name="profile-picture" accept="image/*">
  </profile-picture>
  <form novalidate="novalidate">
    <input type="text" name="username" autocapitalize="off" autocorrect="off" autofocus="autofocus" placeholder="Your name"/>
    <button type="submit">Save</button>
    <button type="button" class="inverse">Cancel</button>
    <route-link value="sign-out">Sign out</route-link>
  </form>
</profile>